

body {
    background: black;

}
header{
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom:20px;
    
}

header.logo{
color: antiquewhite;
font-size: 50px;
line-height: 200px;
float:left;

}