<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>[title]</title>
		<!--
			Esta sería la fomrma básica de incluir un JS [JavaScript]:
			La etiqueta [project] sólo tiene relevancia solamente en este proyecto

			<link rel="stylesheet" type="text/css" href="[project]/assets/css/ejemplo.css">
		-->
		<link rel="stylesheet" type="text/css" href="[project]/assets/css/bootstrap/bootstrap.min.css">
		<link rel="icon" type="image/x-icon" href="[project]/favicon.ico" />
		<style> body
				{
					background-color: black;
				}
				.well
				{
					min-height: 20px;
					padding: 19px;
					margin-bottom: 20px;
					background-color: #ea6d6d;
					border: 1px solid #e3e3e3;
					border-radius: 0;
					-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
				} 
				.header-text
				{
					color: white;
				}
		</style>
	</head>
	<body>
		[header]
		[body]
		[footer]
		<!--
			Esta sería la fomrma básica de incluir un CSS [Cascade Style Sheets]:
			La etiqueta [project] sólo tiene relevancia solamente en este proyecto

			<script type="text/javascript" src="[project]/assets/js/ejemplo.js"></script>
		-->
		<script type="text/javascript" src="[project]/assets/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="[project]/assets/js/popper-1.14.3.min.js"></script>
		<script type="text/javascript" src="[project]/assets/js/bootstrap/bootstrap.min.js"></script>
	</body>
</html>